.DS_Store
node_modules
yarn-error.log
/cypress/screenshots/
/__sapper__/
mmmm.code-workspace
static/global.css
public/bundle.*
public/components.*
public/utils.*
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions